<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>


    <session-factory name="pgist">


        <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">pgist</property>
        <property name="connection.password">gz!mww@jw</property>
        <property name="connection.url">jdbc:postgresql://192.168.10.101/pgist</property>
        <property name="dbcp.maxActive">20</property>
        <property name="dbcp.whenExhaustedAction">1</property>
        <property name="dbcp.testOnBorrow">true</property>
        <property name="dbcp.validationQuery">select 1</property>
        <property name="dbcp.maxWait">120000</property>
        <property name="dbcp.maxIdle">10</property>
        <property name="dbcp.ps.maxActive">20</property>
        <property name="dbcp.ps.whenExhaustedAction">1</property>
        <property name="dbcp.ps.maxWait">120000</property>
        <property name="dbcp.ps.maxIdle">10</property>
        <property name="connection.provider_class">org.hibernate.connection.DriverManagerConnectionProvider</property>
        <property name="max_fetch_depth">1</property>
        <property name="jdbc.fetch_size">50</property>
        <property name="jdbc.batch_size">30</property>
        <property name="show_sql">false</property>


        <mapping resource="org/pgist/users/User.hbm.xml"/>
        <mapping resource="org/pgist/users/Role.hbm.xml"/>


        <!--class-cache class="org.hibernate.test.Simple" region="Simple" usage="read-write"/-->


    </session-factory>


</hibernate-configuration>

