<html>
<head>
<title>PGIST Main Page</title>
</head>

<body>
  <h2>Login Ok!</h2>
  <br>
  <a href="sysAdmin.do">System Administration</a>
  <br>
  <a href="logout.do">Logout here.</a>
</body>

</html>

