<html>
<head>
<title>PGIST register Page</title>
<script language="JavaScript">
<!--
  #if("$!{PGISTMessage}"!="")
    alert('$!{PGISTMessage}');
  #end
//-->
</script>
</head>

<body>
  <form name="mainForm" method="POST" action="register.do">
  <table>
    <tr>
      <td>User Name:</td>
      <td><input type="input" name="loginname" value="$!{userForm.loginname}"></td>
    </tr>
    <tr>
      <td>Password:</td>
      <td><input type="password" name="password" value="$!{userForm.password}"></td>
    </tr>
    <tr>
      <td>Password Confirm:</td>
      <td><input type="password" name="password1" value="$!{userForm.password1}"></td>
    </tr>
    <tr>
      <td>Email:</td>
      <td><input type="input" name="email" value="$!{userForm.email}"></td>
    </tr>
    <tr>
      <td colspan="2"><input type="submit" value="Submit"></td>
    </tr>
  </table>
  </form>
</body>

</html>

