<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
  PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
  "http://java.sun.com/j2ee/dtds/web-app_2_3.dtd">

<web-app>


  <display-name>PIGST Application</display-name>


  <context-param>
      <param-name>org.pgist.RBAC_CHECKER</param-name>
      <param-value>org.pgist.util.RoleChecker</param-value>
  </context-param>

  <context-param>
      <param-name>org.pgist.THEME_MANAGER_PATH</param-name>
      <param-value></param-value>
  </context-param>

  <context-param>
      <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
      <param-value>client</param-value>
  </context-param>

  <context-param>
      <param-name>com.sun.faces.validateXml</param-name>
      <param-value>true</param-value>
      <description>
          Set this flag to true if you want the JavaServer Faces
          Reference Implementation to validate the XML in your
          faces-config.xml resources against the DTD.  Default
          value is false.
      </description>
  </context-param>

  <context-param>
      <param-name>com.sun.faces.verifyObjects</param-name>
      <param-value>true</param-value>
      <description>
          Set this flag to true if you want the JavaServer Faces
          Reference Implementation to verify that all of the application
          objects you have configured (components, converters,
          renderers, and validators) can be successfully created.
          Default value is false.
      </description>
  </context-param>

  <context-param>
      <param-name>javax.faces.CONFIG_FILES</param-name>
      <param-value>/WEB-INF/config/faces-config.xml</param-value>
  </context-param>
  
  <context-param>
      <param-name>org.pgist.CONFIG_DIR</param-name>
      <param-value>/WEB-INF/config</param-value>
  </context-param>
  
  
  <filter>
    <filter-name>pgist filter</filter-name>
    <filter-class>org.pgist.filters.PgistFilter</filter-class>
    <init-param>
      <param-name>force-close-connection</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>login-url</param-name>
      <param-value>/index.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>ignore-url</param-name>
      <param-value>/greeting.faces, /register.faces</param-value>
    </init-param>
  </filter>


  <filter>
      <filter-name>ExtensionsFilter</filter-name>
      <filter-class>
          org.apache.myfaces.component.html.util.ExtensionsFilter
      </filter-class>
      <init-param>
          <param-name>uploadMaxFileSize</param-name>
          <param-value>10m</param-value>
      </init-param>
      <init-param>
          <param-name>uploadThresholdSize</param-name>
          <param-value>100k</param-value>
      </init-param>
  </filter>

  <filter-mapping>
      <filter-name>pgist filter</filter-name>
      <url-pattern>/*</url-pattern>
  </filter-mapping>
  

  <filter-mapping>
      <filter-name>ExtensionsFilter</filter-name>
      <servlet-name>Faces Servlet</servlet-name>
  </filter-mapping>


  <servlet>
    <servlet-name>SystemInitServlet</servlet-name>
    <servlet-class>org.pgist.servlets.SystemInitServlet</servlet-class>
    <init-param>
       <param-name>org.pgist.CONFIG_PATH</param-name>
       <param-value>/WEB-INF/config</param-value>
    </init-param>
    <init-param>
       <param-name>org.pgist.EMAIL_CONFIG</param-name>
       <param-value>email-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>


  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <init-param>
       <param-name>debug</param-name>
       <param-value>3</param-value>
    </init-param>
    <init-param>
       <param-name>detail</param-name>
       <param-value>3</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>


  <servlet>
    <servlet-name>dwr-invoker</servlet-name>
    <display-name>DWR Servlet</display-name>
    <servlet-class>uk.ltd.getahead.dwr.DWRServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>WEB-INF/config/dwr.xml</param-value>
    </init-param>
    <init-param>
       <param-name>debug</param-name>
       <param-value>true</param-value>
    </init-param>
  </servlet>
  
  
  <servlet-mapping>
      <servlet-name>Faces Servlet</servlet-name>
      <url-pattern>*.faces</url-pattern>
  </servlet-mapping>


  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>


  <security-constraint>
    <!--
        This security constraint illustrates how JSP pages
        with JavaServer Faces components can be protected from
        being accessed without going through the Faces Servlet.
        The security constraint ensures that the Faces Servlet will
        be used or the pages will not be processed.
    -->
    <display-name>Restrict access to JSF pages</display-name>
    <web-resource-collection>
      <web-resource-name>Restrict access to JSF pages</web-resource-name>
      <url-pattern>/jspa/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>With no roles defined, no access granted</description>
    </auth-constraint>
  </security-constraint>


  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>


  <error-page>
		<error-code>400</error-code>
		<location>/PathNotFound.jsf</location>
  </error-page>

  <error-page>
		<error-code>404</error-code>
		<location>/PageNotFound.jsf</location>
  </error-page>


</web-app>

