td.outtop {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid #aaa;
  margin-left: 3px;
}

td.outleft {
  border-left: 1px solid black;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid black;
  margin-left: 3px;
}

td.outright {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  margin-left: 3px;
}

td.innertop {
  border-bottom: 1px solid #aaa;
  margin-left: 3px;
}

td.innernone {
}

td.innerleft {
}

td.innerright {
  border-left: 1px solid #aaa;
  margin-left: 3px;
}

td.hidetop {
  border-bottom: 1px solid #aaa;
  margin-left: 3px;
  cursor: pointer; cursor: hand;
}

td.hidenone {
  cursor: pointer; cursor: hand;
}

td.hideleft {
  cursor: pointer; cursor: hand;
}

td.hideright {
  border-left: 1px solid #aaa;
  margin-left: 3px;
  cursor: pointer; cursor: hand;
}

.imperative {
  width: 30px;
  height: 30px;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  float: left;
  vertical-align: top;
}

.discourse {
  font-weight: bold;
  color: white;
  background-color: black;
}

.uptreeLink1 {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	white-space: pre;
	font-weight: bold;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	background-color: #CCCCCC;	
}

.uptreeLink2 {
	font-family: Arial, Helvetica, sans-serif;
	white-space: pre;
	font-weight: bold;
}

a {
	text-decoration: none;
}

td.CurrentLink {
  color: red;
}
td.CurrentLink a{
  color: red;
  font-size: 10px;
  text-decoration: none;
  cursor: pointer; cursor: hand;
}
td.CurrentLink A:link    { color: red }
td.CurrentLink A:active  { color: blue; font-size: 125% }
td.CurrentLink A:visited { color: red; font-size: 85% }

