<html>
<head>
<title>User Management</title>
<script language="JavaScript">
<!--
  function addUser() {
    aForm = document.mainForm;
    aForm.action.value = 'addUser';
    window.open('','','');
  }//addUser()
  function delUser() {
    aForm = document.mainForm;
    aForm.action.value = 'delUser';
    found = false;
    for (i=0; i<aForm.elements.length; i++) {
      element = aForm.elements[i];
      if (element.name=='userId' && element.checked) {
        found = true;
        if (confirm('Do you really want to delete the selected user?')) {
          return true;
        } else {
          return false;
        }
      }
    }
    alert('Please select users to be deleted!');
    return false;
  }//delUser()
//-->
</script>
</head>

<body>
<form name="mainForm" method="post" action="sysAdmin.do">
<input type="hidden" name="action" value="delUser">

  <h2>User Management</h2>
  <br>
  <table width="80%" border="1">
    <tr>
      <td align="center"><b>Login Name</b></td>
      <td align="center"><b>Status</b></td>
      <td align="center"><b>Selection</b></td>
    </tr>
    #foreach ($user in $sysAdminForm.users)
    <tr>
      <td nowrap>$user.loginname</td>
      <td nowrap>#if($user.enabled)Enabled#else <span style="color:red;">Disabled</span> #end</td>
      <td nowrap align="center">
        #if($user.internal)&nbsp;#else<input type="checkbox" name="userId" value="$!{user.id}">#end
      </td>
    </tr>
    #end
    <tr>
      <td colspan="3" align="right">
        <input type="button" value="addUser" onClick="addUser()">
        <input type="submit" value="delUser" onClick="return delUser()">
      </td>
    </tr>
  </table>
    
</form>
</body>

</html>

