<html>
<head>
<title>Role Management</title>
<script language="JavaScript">
<!--
  function addRole() {
    aForm = document.mainForm;
    aForm.action.value = 'addRole';
    window.open('','','');
  }//addRole()
  function delRole() {
    aForm = document.mainForm;
    aForm.action.value = 'delRole';
    found = false;
    for (i=0; i<aForm.elements.length; i++) {
      element = aForm.elements[i];
      if (element.name=='roleId' && element.checked) {
        found = true;
        if (confirm('Do you really want to delete the selected role?')) {
          return true;
        } else {
          return false;
        }
      }
    }
    alert('Please select roles to be deleted!');
    return false;
  }//delRole()
//-->
</script>
</head>

<body>
<form name="mainForm" method="post" action="sysAdmin.do">
<input type="hidden" name="action" value="delRole">

  <h2>Role Management</h2>
  <br>
  <table width="80%" border="1">
    <tr>
      <td align="center"><b>Role Name</b></td>
      <td align="center"><b>Selection</b></td>
    </tr>
    #foreach ($role in $sysAdminForm.roles)
    <tr>
      #if($role.internal)
      <td nowrap>$role.name</td>
      #else
      <td nowrap><a href="?action=editRole&roleId=$role.id">$role.name</a></td>
      #end
      <td nowrap align="center">
        #if($role.internal)&nbsp;#else<input type="checkbox" name="roleId" value="$!{role.id}">#end
      </td>
    </tr>
    #end
    <tr>
      <td colspan="3" align="right">
        <input type="button" value="addRole" onClick="addRole()">
        <input type="submit" value="delRole" onClick="return delRole()">
      </td>
    </tr>
  </table>
    
</form>
</body>

</html>

