<html>
<head>
<title>PGIST System Adminitration Page</title>
</head>

<body>
  <h2>System Adminitration</h2>
  <br>
  <a href="?action=listUser">User Management</a>
  <br>
  <a href="?action=listRole">Role Management</a>
</body>

</html>

